# Godot 4+ specific ignores
.godot/
/android/
/scenes/imports/
/scenes/export_presets.cfg
/build/
contractor-hero-backup/characters/pete_model.fbx
contractor-hero-backup/imports/pete_model_*
contractor-hero
